// @import "./mixins";

.search {
  @include flexbox(row, flex-end, center);
  @include Responsive(XL) {
    width: 20%;
  }
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  transition: 0.4s all ease-in-out;
  &__input {
    width: 0%;
    border: none;
    background: transparent;
    outline: none;

    opacity: 0;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-family: "Poppins";
    transition: 0.4s width;
  }
  &__icon {
    width: 2.2rem;
    transform: rotateY(180deg);
    opacity: 0.5;
  }
  &.active {
    background-color: white;
  }

  &.active &__input {
    width: 90%;
    opacity: 1;
  }
}
