// @import "./mixins";

.status {
  width: 100%;
  position: relative;
  @include flexbox(column, center, center);

  &__back-btn {
    position: absolute;
    top: 5rem;
    left: 5rem;
    font-size: 1.8rem;

    color: white;
    width: fit-content;
    transition: 0.4s all;
    .direct {
      padding-left: 1rem;
      padding-right: 1rem;
      color: white;
      transition: 0.4s all;
    }
    &:hover .direct {
      padding-left: 0;
    }
  }
  &__title,
  &__date,
  &__content {
    width: 80%;
  }
  &__bg--img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 50rem;
    width: inherit;
    background-size: cover;
  }
  &__date {
    color: white;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;

    margin-top: 25rem;
  }
  &__title {
    font-family: "Playfair Display";
    font-weight: 700;
    color: white;
    font-size: 4.5rem;

    letter-spacing: 0.1rem;
    margin-bottom: 4rem;
  }

  &__content {
    font-size: 1.6rem;
    font-weight: 300;
    padding: 2% 8%;
    padding-bottom: 10rem;

    border-radius: 0.8rem;
    opacity: 1;
    line-height: 1.8rem;
    background-color: white;
    p {
      padding-bottom: 1rem;
    }
  }
}
