@import "./mixins";

.body--bg {
  width: 100%;
  .body {
    margin: 0px auto;
    width: $width;
    &__title {
      position: relative;
      width: 220px;
      text-align: center;
      font-size: 4rem;
      margin-top: 3rem;
      font-family: Tahoma, Geneva, Verdana, sans-serif;
      &::after {
        content: "";
        height: 60%;
        width: 100%;
        background-color: rgb(245, 245, 245);

        position: absolute;
        top: 65%;
        left: 0;
        z-index: -1;
      }
    }
    &__items {
      width: 100%;
      margin-top: 2.2rem;
      margin-left: auto;
      overflow: hidden;
      display: grid;
      grid-template-columns: 32% 32% 32%;
      column-gap: 20px;
      row-gap: 25px;
    }
  }
  .pagination {
    @include flexbox(row, center);
    margin: 4rem;
    div {
      height: 40px;
      width: 40px;
      font-size: 1.4rem;
      @include flexbox(row, center, center);
      color: $text-color;
      border-radius: 2px;
      margin: 1rem;
      background: white;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    &__current {
      background-color: $text-color !important;
      color: white !important;
    }
  }
}
